h1, h2, h3, h4, h5, h6 {
	font-family: Roboto Slab, $base-font-family;
}

.site-header {
	border-top: none;
	border-bottom: 1px solid lighten($grey-color, 53%);
}

.site-nav {
	border: none;
}

.site-footer {
	border-top: 1px solid lighten($grey-color, 53%);
}

.rss-subscribe {
	color: $grey-color;
}

a:visited {
	color: $brand-color;
}

span[title] {
	cursor: pointer;
	text-decoration: underline;
}
